<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>대학누리 - 관리자사이트</title>
</head>

<body class="skin-default fixed-layout">
    <div id="main-wrapper">
        <header class="topbar">
            <nav class="navbar top-navbar navbar-expand-md navbar-dark">
                <div class="navbar-header">
                    <a class="navbar-brand" href=""> </a>
                </div>
                <div class="navbar-collapse">
                    <ul class="navbar-nav my-lg-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> ChungBuk University Admin
                                <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                            </a>
                        </li>
                        <li class="nav-item right-side-toggle"> <a class="nav-link  waves-effect waves-light" href="javascript:void(0)"><i class="ti-settings"></i></a></li>
                    </ul>
                </div>
            </nav>
        </header>
        <aside class="left-sidebar">
            <div class="scroll-sidebar">
                <div class="user-profile">
                    <div class="user-pro-body">
                        <div><img src="/uni.jpg" alt="user-img" class="img-circle"></div>
                        <div class="dropdown">
                            <a href="" class="u-dropdown link hide-menu" role="button" aria-haspopup="true" aria-expanded="false"> 대학누리 </a>
                        </div>
                    </div>
                </div>
                <nav class="sidebar-nav">
                    <ul id="sidebarnav">
                        <li class="nav-small-cap">--- STUDENT COUNCIL</li>
                        <li> <a class="waves-effect waves-dark" href="" aria-expanded="false"><i class="icon-speedometer"></i><span class="hide-menu">Dashboard <span class="badge badge-pill badge-cyan ml-auto"></span></span></a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>
        <div class="page-wrapper">
            <div class="container-fluid">
                </br>
                <div class="row">
                    <div class="col-lg-8 col-md-12">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">Recent Comments</h5> 
                            </div>
                            <div class="comment-widgets" id="comment" style="height: 395px;position: relative;">
                                <div class="d-flex no-block comment-row">
                                    <div class="comment-text w-100">
                                        <h5 class="font-medium"오늘부터 새로 시행됩니다.</h5>
                                        <p class="m-b-10 text-muted">관리자 사이트가 거의 완성되었습니다.</p>
                                        <div class="comment-footer">
                                            <span class="text-muted pull-right">April 14, 2018</span>
                                        </div>
                                    <br>
                                        <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip">삭제</button>
                                        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip">수정</button>
                                    </div>
                                </div>
                                <div class="d-flex no-block comment-row">
                                    <div class="comment-text w-100">
                                        <h5 class="font-medium">카카오챗봇으로도 확인하실 수 있습니다.</h5>
                                        <p class="m-b-10 text-muted">빠르고 간편하게 서비스를 이용하실 수 있습니다.</p>
                                        <div class="comment-footer">
                                            <span class="text-muted pull-right">July 14, 2018</span>
                                        </div>
                                    <br>
                                        <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip">삭제</button>
                                        <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip">수정</button>
                                    </div>
                                </div>
                                         
                            </div>
                            <button type="button" style = "background-color: #8636F6; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add1">공지사항 작성하기</button>
                        </div>
                        
                    </div>     
                    <div class="col-lg-4 col-md-12">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="card bg-yellow" style="height: 241px;position: relative;">
                                    <div class="card-body">
                                        <h5 class="card-title">Kakao Chatbot</h5> 
                                        <div class="row">
                                            <div class="col-9  m-t-30">
                                                <h1 class="text">
                                                        Affiliate Notifier</h1>
                                                <p class="text-muted">Start : July 2018</p>
                                                <b>https://pf.kakao.com/_YyVxkCx</b> </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <div class="card bg-purple text-white" style="height: 241px;position: relative;">
                                    <div class="card-body">
                                        <h5 class="card-title">LikeLion</h5>
                                        <div class="row">
                                            <div class="col-9  m-t-30">
                                                <h1 class="text-white">6th &emsp; 1. Team</h1>
                                                <p class="light_op_text">Start : March 2018</p>
                                                <b class="text-white">made by 대학누리</b> </div>
                                            <div class="col-3">
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>         
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">공과대학</h5>
                                <div class="message-box" id="msg" style="height: 430px;position: relative;">
                                    <div class="message-widget message-scroll">
                                        <% @engineering.each do |x| %>
                                            <a>
                                                <div class="mail-contnet">
                                                    <h5><%=x.name%></h5> <span class="mail-desc"><%=x.discount%></span> <span class="time"><%= x.created_at%></span> </div>
                                                    <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/engineering_destroy/<%=x.id%>' ">삭제</button>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" onclick="location.href='/admin/engineering_edit/<%=x.id%>'">수정</button>
                                            </a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            <button type="button" style = "background-color: #719FD1; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add2">제휴 추가하기</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">농업생명환경대학</h5>
                                <div class="message-box" id="msg" style="height: 430px;position: relative;">
                                    <div class="message-widget message-scroll">
                                        <% @agriculture.each do |x| %>
                                            <a>
                                                <div class="mail-contnet">
                                                    <h5><%=x.name%></h5> <span class="mail-desc"><%=x.discount%></span> <span class="time"><%= x.created_at%></span> </div>
                                                    <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/agriculture_destroy/<%=x.id%>' ">삭제</button>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/agriculture_edit/<%=x.id%>'">수정</button>
                                            </a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            <button type="button" style = "background-color: #719FD1; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add3">제휴 추가하기</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">사범대학</h5>
                                <div class="message-box" id="msg" style="height: 430px;position: relative;">
                                    <div class="message-widget message-scroll">
                                        <% @teacher.each do |x| %>
                                            <a>
                                                <div class="mail-contnet">
                                                    <h5><%=x.name%></h5> <span class="mail-desc"><%=x.discount%></span> <span class="time"><%= x.created_at%></span> </div>
                                                    <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/teacher_destroy/<%=x.id%>' ">삭제</button>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/teacher_edit/<%=x.id%>'">수정</button>
                                            </a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            <button type="button" style = "background-color: #719FD1; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add4">제휴 추가하기</button>
                        </div>
                    </div>
                </div>
                <div class = "row">
                        <div class="col-md-4">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="card-title">사회과학대학</h5>
                                        <div class="message-box" id="msg" style="height: 430px;position: relative;">
                                            <div class="message-widget message-scroll">
                                                <% @social.each do |x| %>
                                            <a>
                                                <div class="mail-contnet">
                                                    <h5><%=x.name%></h5> <span class="mail-desc"><%=x.discount%></span> <span class="time"><%= x.created_at%></span> </div>
                                                    <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/social_destroy/<%=x.id%>' ">삭제</button>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/social_edit/<%=x.id%>'">수정</button>
                                            </a>
                                        <%end%>
                                            </div>
                                        </div>
                                    </div>
                                    <button type="button" style = "background-color: #719FD1; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add5">제휴 추가하기</button>
                                </div>
                            </div>
                            <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">자연과학대학</h5>
                                            <div class="message-box" id="msg" style="height: 430px;position: relative;">
                                                <div class="message-widget message-scroll">
                                                    <% @natural.each do |x| %>
                                            <a>
                                                <div class="mail-contnet">
                                                    <h5><%=x.name%></h5> <span class="mail-desc"><%=x.discount%></span> <span class="time"><%= x.created_at%></span> </div>
                                                    <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/natural_destroy/<%=x.id%>' ">삭제</button>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/natural_edit/<%=x.id%>'">수정</button>
                                            </a>
                                        <%end%>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" style = "background-color: #719FD1; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add6">제휴 추가하기</button>
                                    </div>
                                </div>
                            <div class="col-md-4">
                                    <div class="card">
                                        <div class="card-body">
                                            <h5 class="card-title">인문대학</h5>
                                            <div class="message-box" id="msg" style="height: 430px;position: relative;">
                                                <div class="message-widget message-scroll">
                                                    <% @humanity.each do |x| %>
                                            <a>
                                                <div class="mail-contnet">
                                                    <h5><%=x.name%></h5> <span class="mail-desc"><%=x.discount%></span> <span class="time"><%= x.created_at%></span> </div>
                                                    <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/humanity_destroy/<%=x.id%>' ">삭제</button>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/humanity_edit/<%=x.id%>'">수정</button>
                                            </a>
                                        <%end%>
                                                </div>
                                            </div>
                                        </div>
                                        <button type="button" style = "background-color: #719FD1; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add7">제휴 추가하기</button>
                                    </div>
                                </div>
                </div>
                <div class="row">
                    
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">의과대학</h5>
                                <div class="message-box" id="msg" style="height: 430px;position: relative;">
                                    <div class="message-widget message-scroll">
                                        <% @medical.each do |x| %>
                                            <a>
                                                <div class="mail-contnet">
                                                    <h5><%=x.name%></h5> <span class="mail-desc"><%=x.discount%></span> <span class="time"><%= x.created_at%></span> </div>
                                                    <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/medical_destroy/<%=x.id%>' ">삭제</button>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/medical_edit/<%=x.id%>'">수정</button>
                                            </a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            <button type="button" style = "background-color: #719FD1; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add8">제휴 추가하기</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">전자정보대학</h5>
                                <div class="message-box" id="msg" style="height: 430px;position: relative;">
                                    <div class="message-widget message-scroll">
                                       <% @electronic.each do |x| %>
                                            <a>
                                                <div class="mail-contnet">
                                                    <h5><%=x.name%></h5> <span class="mail-desc"><%=x.discount%></span> <span class="time"><%= x.created_at%></span> </div>
                                                    <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/electronic_destroy/<%=x.id%>' ">삭제</button>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/electronic_edit/<%=x.id%>'">수정</button>
                                            </a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            <button type="button" style = "background-color: #719FD1; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add9">제휴 추가하기</button>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="card">
                            <div class="card-body">
                                <h5 class="card-title">생활과학대학</h5>
                                <div class="message-box" id="msg" style="height: 430px;position: relative;">
                                    <div class="message-widget message-scroll">
                                        <% @life_science.each do |x| %>
                                            <a>
                                                <div class="mail-contnet">
                                                    <h5><%=x.name%></h5> <span class="mail-desc"><%=x.discount%></span> <span class="time"><%= x.created_at%></span> </div>
                                                    <button type="button" style = "background-color: brown; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/life_science_destroy/<%=x.id%>' ">삭제</button>
                                                    <button type="button" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="tooltip" onclick="location.href='/admin/life_science_edit/<%=x.id%>'">수정</button>
                                            </a>
                                        <%end%>
                                    </div>
                                </div>
                            </div>
                            <button type="button" style = "background-color: #719FD1; color: white" class="btn btn-sm btn-icon btn-pure btn-outline delete-row-btn" data-toggle="modal" data-target="#add10">제휴 추가하기</button>
                        </div>
                        
                    </div>
                    
                </div>
            </div>
        </div>
        <footer class="footer">
            대학누리의 공지사항 & 제휴내용 관리 사이트입니다.
        </footer>
    </div>
    <!--여기는 form-->
    <div id="add1" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Comment</h4> </div>
                    <div class="modal-body">
                        <from class="form-horizontal form-material">
                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Title"> </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Context"> </div>
                                    <div class="col-md-12 m-b-20">
                                            <div class="fileupload btn btn-danger btn-rounded waves-effect waves-light"><span><i class="ion-upload m-r-5"></i>Upload Image</span>
                                            <input type="file" class="upload"> </div>
                                    </div>
                            </div>
                        </from>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-info waves-effect" data-dismiss="modal">Save</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </div>
    </div>
    <form class="form-horizontal form-material" action="/admin/engineering_order" method="post" id="engineering_order">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div id="add2" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Alliance</h4> </div>
                    <div class="modal-body">
                        
                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Title" name = "name"> </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Context" name = "discount"> </div>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect">Save</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </div>
    </div>
    </form>
    <form class="form-horizontal form-material" action="/admin/agriculture_order" method="post" id="agriculture_order">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div id="add3" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Alliance</h4> </div>
                    <div class="modal-body">
                        
                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Title" name = "name"> </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Context" name = "discount"> </div>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect">Save</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </div>
    </div>
    </form>
    <form class="form-horizontal form-material" action="/admin/teacher_order" method="post" id="teacher_order">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div id="add4" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Alliance</h4> </div>
                    <div class="modal-body">
                        
                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Title" name = "name"> </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Context" name = "discount"> </div>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect">Save</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </div>
    </div>
    </form>
    <form class="form-horizontal form-material" action="/admin/social_order" method="post" id="social_order">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div id="add5" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Alliance</h4> </div>
                    <div class="modal-body">
                        
                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Title" name = "name"> </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Context" name = "discount"> </div>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect">Save</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </div>
    </div>
    </form>
    <form class="form-horizontal form-material" action="/admin/natural_order" method="post" id="natural_order">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div id="add6" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Alliance</h4> </div>
                    <div class="modal-body">
                        
                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Title" name = "name"> </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Context" name = "discount"> </div>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect">Save</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </div>
    </div>
    </form>
    <form class="form-horizontal form-material" action="/admin/humanity_order" method="post" id="humanity_order">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div id="add7" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Alliance</h4> </div>
                    <div class="modal-body">
                        
                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Title" name = "name"> </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Context" name = "discount"> </div>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect">Save</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </div>
    </div>
    </form>
    <form class="form-horizontal form-material" action="/admin/medical_order" method="post" id="medical_order">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div id="add8" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Alliance</h4> </div>
                    <div class="modal-body">
                        
                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Title" name = "name"> </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Context" name = "discount"> </div>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect">Save</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </div>
    </div>
    </form>
    <form class="form-horizontal form-material" action="/admin/electronic_order" method="post" id="electronic_order">
        <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
        <div id="add9" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                        <h4 class="modal-title" id="myModalLabel">Add New Alliance</h4> </div>
                    <div class="modal-body">
                        
                            <div class="form-group">
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Title" name = "name"> </div>
                                <div class="col-md-12 m-b-20">
                                    <input type="text" class="form-control" placeholder="Context" name = "discount"> </div>
                            </div>
                        
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-info waves-effect">Save</button>
                        <button type="button" class="btn btn-default waves-effect" data-dismiss="modal" >Cancel</button>
                    </div>
                </div>
            </div>
    </div>
    </form>

</body>

</html>